body {
    margin: 0px;
    padding: 0px;
    background: #6d6e70 !important;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
  }

  table {
    border-collapse: collapse;
  }

  td {
    font-family: arial, sans-serif;
    color: #333333;
  }

  a {
    text-decoration: none !important;
    color: #58595B;
    cursor: text;
  }

  sup {
    line-height: 2px !important;
    font-size: 75% !important;
  }

  @media only screen and (max-width: 480px) {

    body,
    table,
    td,
    p,
    a,
    li,
    blockquote {
      -webkit-text-size-adjust: none !important;
    }

    table {
      width: 100% !important;
    }

    table #table72 {
      width: 72% !important;
    }

    table #discoverBtnL,
    #discoverBtnR {
      width: 20% !important;
    }

    .responsive-image img {
      height: auto !important;
      max-width: 100% !important;
      width: 100% !important;
    }

    .responsive-image01 img {
      height: auto !important;
      max-width: 60% !important;
      width: 60% !important;
    }

    .responsive-image02 img {
      height: auto !important;
      max-width: 80% !important;
      width: 80% !important;
    }

    .bulletText div {
      font-size: 11px !important;
      line-height: 13px !important;
    }

    .bulletText div sup {
      font-size: 9px !important;
      line-height: 8px !important;
    }

    .headTest {
      font-size: 16px !important;
      line-height: 18px !important;
    }

    .headSubTest {
      font-size: 11px !important;
      line-height: 13px !important;
    }

    .center {
      text-align: center !important;
    }

    .hideRow {
      display: none !important;
    }

    .rowHeight100 {
      height: 100px !important;
    }

    .rowHeight66 {
      height: 66px !important;
    }

    .templateColumnContainer {
      display: block !important;
      width: 100% !important;
    }

    /* .res1 {
      font-size: 12px !important;
      line-height: 15px !important;
    } */

    .res2 {
      font-size: 11px !important;
      line-height: 14px !important;
    }

    .res3 {
      font-size: 9px !important;
      line-height: 13px !important;
    }


    .display-block-img1 {
      height: auto !important;
      max-width: 55% !important;
      width: 55% !important;
      text-align: center !important;
      vertical-align: middle !important;
    }

    .display-block-content {
      display: block !important;
      width: 100% !important;
    }

    .pad2 {
      padding: 15px 0 0 0 !important;
    }

    .pad1 {
      padding: 0px 0 0 0 !important;
    }
}