*{
    padding: 0;
    margin: 0;
    
}

#NavBar{
    height: 60px;
    background-color: #0f1111;
}

button{
    background-color: #f08804;
}

#logo{
    color: #f08804;
    font-size: 25px;
}

a{
    margin-right: 200px;
    text-decoration: none;
    color: white;
}

.contentBox{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}

#Content{
    height: 600px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}